---
import Layout from "../layouts/Layout.astro"
import SectionContent from "../components/SectionContent.astro"
import GalleryAllPhotos from "../components/GalleryAllPhotos.astro"
---

<Layout title='Andrea Hernandez | Gallery' bg='bg-cream-white'>
<SectionContent class="pt-[100px]">
    <h2 class="max-md:text-3xl text-4xl text-center tracking-[12px] mb-8 font-bold leading-normal font-main text-mocha-brown">
        GALLERY
    </h2>
    <GalleryAllPhotos />
</SectionContent>
    
</Layout>