---
import Layout from '../layouts/Layout.astro';
import TimelineContent from '../components/TimelineContent.astro';
import HeroIntro from '../components/HeroIntro.astro';
import H2 from '../components/H2.astro';
import Gallery from '../components/Gallery.astro';
import SectionContent from '../components/SectionContent.astro';
import { Image } from 'astro:assets';
---

<Layout 
title='Andrea Hernandez | Portfolio'
>
	<main>
		<section id="home">
			<div class="flex min-h-screen max-md:flex-col-reverse max-md:w-full">
				<HeroIntro />
				<div class="md:w-1/2 bg-black max-sm:grow">
					<img class="object-cover size-full" src="/images/hero-image.jpg" alt="andrea's picture">
				</div>
			</div>
		</section>
		<div id="bg" class="bg-cream-white relative rounded-t-3xl w-full">
			<SectionContent class="py-16" id="about">
				<H2>About Me</H2>
				<TimelineContent />
			</SectionContent>
			<SectionContent id="gallery">
				<H2>Gallery</H2>
				<Gallery />
			</SectionContent>
		</div>
	</main>
</Layout>
