---
import Layout from "../layouts/Layout.astro";
import TimelineContent from "../components/TimelineContent.astro";
import HeroIntro from "../components/HeroIntro.astro";
import H2 from "../components/H2.astro";
import Gallery from "../components/Gallery.astro";
import SectionContent from "../components/SectionContent.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="Andrea Hernandez | Portfolio">
	<main id="home">
		<section id="hero" class="sticky top-0 -z-10">
			<div
				class="flex h-svh max-md:flex-col-reverse max-md:w-full"
			>
				<HeroIntro />
				<div class="md:w-1/2 max-md:mt-[80px]">
					<img
						class="object-cover size-full"
						src="/images/hero-image.jpg"
						alt="andrea's picture"
					/>
				</div>
			</div>
		</section>
		<div class="bg-cream-white md:rounded-t-[4rem] rounded-t-3xl" id="bg">
			<SectionContent class="py-16" id="about">
				<H2>ABOUT ME</H2>
				<TimelineContent />
			</SectionContent>
			<SectionContent id="gallery">
				<H2>Gallery</H2>
				<Gallery />
			</SectionContent>
		</div>
		<div class="bg-cream-white">
			<SectionContent class="py-10" id="contact">
				<H2>Contact Me</H2>
				<ContactForm />
			</SectionContent>
		</div>
	</main>
</Layout>
