---
import Layout from '../layouts/Layout.astro';
import TimelineContent from '../components/TimelineContent.astro';
import Mouse from '../components/Mouse.astro';
import HeroIntro from '../components/HeroIntro.astro';
---

<Layout title='Andrea Hernandez | Portfolio'>
	<main>
		<Mouse client:load />
		<section id="home">
			<div class="flex min-h-screen">
				<HeroIntro client:load />
				<div class="w-6/12">
					<!-- <video class="object-cover size-full" autoplay muted loop src="/images/hero-image.mp4" /> -->
					<img class="object-cover size-full" src="/images/hero-image.jpg" alt="andrea's picture">
				</div>
			</div>
		</section>
		<section id="about" class="relative px-24 py-16 bg-cream-white">
			<h2 class="text-4xl font-bold leading-normal font-main text-mocha-brown">About Andrea<br>Hernandez</h2>
			<TimelineContent />
		</section>
	</main>
</Layout>
