<footer class="relative max-md:px-6 max-2xl:px-12 px-32 bg-cream-white">
    <div class="border-t-2 border-mocha-brown">
        <div class="py-6">
            <a href="/" class="text-3xl font-cursive max-lg:text-2xl text-mocha-brown">
                Andrea Hernandez
            </a>
        </div>
    </div>
</footer>