<div class="flex gap-4 flex-col">
    <!-- top row -->
    <div class="flex max-md:flex-col w-full gap-4" id="gallery">
        <div class="w-full md:min-h-[10rem] md:max-h-[30rem]">
            <img class="object-cover size-full rounded-xl" loading="lazy" src="/gallery/img-1.jpg">
        </div>
        <div class="w-full md:min-h-[10rem] md:max-h-[30rem]">
            <img class="object-cover size-full rounded-xl" loading="lazy" src="/gallery/img-2.jpg">
        </div>
        <div class="w-full md:min-h-[10rem] md:max-h-[30rem]">
            <img class="object-cover size-full rounded-xl" loading="lazy" src="/gallery/img-3.jpg">
        </div>
    </div>
    <!-- middle row -->
    <div class="flex max-md:flex-col w-full gap-4" id="gallery">
        <div class="w-full md:min-h-[10rem] md:max-h-[30rem]">
            <img class="object-cover size-full rounded-xl" loading="lazy" src="/gallery/img-4.jpg">
        </div>
        <div class="w-full md:min-h-[10rem] md:max-h-[30rem]">
            <img class="object-cover size-full rounded-xl" loading="lazy" src="/gallery/img-5.jpg">
        </div>
    </div>
    <!-- bottom row -->
    <div class="flex max-md:flex-col w-full gap-4" id="gallery">
        <div class="w-full max-md:h-auto min-h-[10rem] md:max-h-[30rem]">
            <img class="object-cover size-full rounded-xl" loading="lazy" src="/gallery/img-6.jpg">
        </div>
        <div class="w-full max-md:h-auto min-h-[10rem] md:max-h-[30rem]">
            <img class="object-cover size-full rounded-xl" loading="lazy" src="/gallery/img-7.jpg">
        </div>
        <div class="w-full max-md:h-auto min-h-[10rem] md:max-h-[30rem] overflow-hidden">
            <img class="object-cover size-full rounded-xl" loading="lazy" src="/gallery/img-8.jpg">
        </div>
    </div>
</div>
<!-- Button -->
<div class="py-12 max-2xl:py-8 text-center">
    <a 
    href="/gallery" 
    class="px-32 inline-block py-4 max-md:px-12 max-md:py-4 bg-mocha-brown whitespace-nowrap text-cream-white font-bold tracking-widest hover:scale-105 transition-transform max-md:text-sm"
    >
        View Complete Gallery
    </a>
</div>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import SplitType from 'split-type';

    gsap.registerPlugin(ScrollTrigger)

    // title Animation

    const header = document.getElementById('gallery')?.querySelector('h2');

    const text = new SplitType(header as HTMLElement, { types: 'chars'});

    gsap.from(text.chars, {
        scrollTrigger: {
            trigger: header,
            start: 'top 80%',
            scrub: false,
            markers: false
        },
        y: 30,
        opacity: 0,
        stagger: 0.05
    })

    gsap.to('#bg', {
        scrollTrigger: {
            trigger: header,
            start: 'top center',
            end: 'top',
            scrub: true,
            markers: false
        },
        background: 'rgba(233, 218, 196, 0.5)',
        stagger: 1
    })
</script>