---
import 'photoswipe/style.css';
const images = await Astro.glob("/public/gallery/*").then(files => {
    return files.map(file => file.default);
});
console.log(images);
---

<div class="w-11/12 m-auto columns-3 gap-[10px] max-md:columns-1 max-xl:columns-2" id="my-gallery">
        {
            images.map(image => (
                <div class="mb-[10px] break-inside-avoid">
                    <a
                    href={image.src}
                    data-pswp-width={image.width}
                    data-pswp-height={image.height}
                    target="_blank">
                    <img 
                    src={image.src}
                    alt=""
                    loading="lazy"
                    >
                    </a>
                </div>
            ))
        }
</div>

<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';

    const lightbox = new PhotoSwipeLightbox({
    gallery: '#my-gallery',
    children: 'a',
    pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>