<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
    <div class="grid-item">
        <img src="/gallery/img-1.jpg" alt="">
    </div>
    <div class="grid-item">
        <img src="/gallery/img-2.jpg" alt="">
    </div>
    <div class="grid-item">
        <img src="/gallery/img-2.jpg" alt="">
    </div>
    <div class="grid-item">
        <img src="/gallery/img-2.jpg" alt="">
    </div>
    <div class="grid-item">
        <img src="/gallery/img-2.jpg" alt="">
    </div>
</div>

  <!-- <script>
    import Masonry from 'masonry-layout';
    // vanilla JS
    // init with element
    var grid = document.querySelector('.grid');
    var msnry = new Masonry( grid, {
    // options...
    itemSelector: '.grid-item',
    columnWidth: 200
    });

    // init with selector
    var msnry = new Masonry( '.grid', {
    // options...
    });
  </script> -->