<header class="fixed top-0 z-10 flex items-center justify-between w-full px-24 py-8 text-cream-white max-sm:px-3">
    <a href="/" class="text-3xl font-cursive">
        Andrea Hernandez
    </a>
    <ul class="flex font-bold sm:text-xl gap-x-14 font-main text-cream-white">
        <li>
            <a href="#home">Home</a>
        </li>
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="#gallery">Gallery</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</header>