---
import HamburgerMenu from "./HamburgerMenu.astro";
import MobileNavbar from '../components/MobileNavbar.astro';

const currentPath = Astro.url.pathname;
---

<header>
    <nav>
        <div id="desktopNav" class="fixed top-0 z-50 flex items-center justify-between w-full px-24 py-8 max-md:py-6 max-md:bg-sunset-gold text-cream-white max-md:px-5">
            <a href="/" class="text-3xl font-cursive max-lg:text-2xl">
                Andrea Hernandez
            </a>
            <ul class="flex max-md:hidden font-bold lg:text-xl gap-x-14 font-main text-cream-white">
                <li>
                    <a onclick="lenis.scrollTo('#home')" href={`${currentPath !== '/' ? '/' : ''}#home`}>Home</a>
                </li>
                <li>
                    <a onclick="lenis.scrollTo('#about')" href={`${currentPath !== '/' ? '/' : ''}#about`}>About</a>
                </li>
                <li>
                    <a href="/gallery">Gallery</a>
                </li>
                <li>
                    <a onclick="lenis.scrollTo('#contact')" href={`${currentPath !== '/' ? '/' : ''}#contact`}>Contact</a>
                </li>
            </ul>
            <HamburgerMenu />
        </div>
    </nav>
    <MobileNavbar />
</header>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger)

    const nav = document.getElementById('desktopNav');

    gsap.to(nav, {
        scrollTrigger: {
            trigger: '#about',
            start: 'top 100px',
            end: 'top',
            markers: false,
            scrub: true
        },
        background: '#e7a054',
        paddingTop: '1rem',
        paddingBottom: '1rem'
    })
</script>