---
interface Props {
    text?: string,
    name: string,
    type?: 'text' | 'password' | 'number' | 'email' | 'checkbox';
}

const {
    text,
    name,
    type = 'text'
} = Astro.props;
---

<div class="flex-col flex flex-grow">
    <label class="font-medium md:text-lg">{text}</label>
    <input class="p-2 max-md:px-3 rounded-xl border-[1px] max-md:text-sm border-mocha-brown w-full bg-cream-white" type={type} name={name}>
</div>