---
const {
    name
} = Astro.props;
---

<div class="font-main text-mocha-brown flex flex-col gap-5 mt-4">
    <span class="font-main font-semibold text-3xl">{name}</span>
    <div class="flex max-lg:flex-col gap-5">
        <slot />
    </div>
</div>