<nav id="mobileNavbar" class="fixed bg-sunset-gold w-full h-full z-20 left-full">
    <ul class="text-4xl flex flex-col font-bold items-center justify-center h-full lg:text-xl gap-y-6 font-main text-cream-white uppercase">
        <li>
            <a href="/#home">Home</a>
        </li>
        <li>
            <a href="/#about">About</a>
        </li>
        <li>
            <a href="/gallery">Gallery</a>
        </li>
        <li>
            <a href="/#contact">Contact</a>
        </li>
    </ul>	
</nav>