---
const ITEM = [
{
    date: "2015",
    text: "My coffee journey started when I got my first job as a shift supervisor at Cru Coffee Roasters & Cellars in 2015. It was at this place where I was introduced to specialty coffee and fell in love with how simple and complex a coffee bean can be at the same time.",
    image: "/images/serving-coffee.jpg",
    alt: "image"
},
{
    date: "2017",
    text: "I was already CEO of the company and I was able to share my knowledge with the new hires by making them elaborate a presentation of their beverages while maintaining a clean and professional area.",
    image: "/images/machine.jpg",
    alt: "image"
},
{
    date: "2018",
    text: " I joined the team of Delisse as the head barista. Working along with Chef Aron Sanchez, I was able to train my palate by tasting different ingredients and understanding the similarity between coffee and food. I remember the smell of butter every single morning while the Croissants were being baked every single morning.",
    image: "/images/machine-2.jpg",
    alt: "image"
}
]
---

<article class="relative flex gap-12 items-center mb-14 flex-col">
    {
        ITEM.map((item, index) => (
            <div class={`flex ${index % 2 !== 0 ? 'md:flex-row-reverse' : ''} items-center gap-20 max-md:gap-4 max-md:flex-col w-full timeline-card`}>
                <div class="md:w-1/2 text-center relative">
                    <span class="font-semibold mb-6 text-8xl font-main md:translate-x-11 tracking-[5vw] addStroke inline-block text-nowrap">{item.date}</span>
                    <p class="font-light font-main leading-10 max-md:text-base text-xl text-justify">{item.text}</p>
                </div>
                <div class="md:w-1/2 w-full max-md:h-64 overflow-hidden bg-black rounded-3xl">
                    <img class="object-cover size-full" loading="lazy" src={item.image} alt={item.alt}>
                </div>
            </div>
        ))
    }
</article>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import SplitType from 'split-type';

    gsap.registerPlugin(ScrollTrigger)

    const header = document.getElementById('about')?.querySelector('h2');

    const text = new SplitType(header as HTMLElement, { types: 'chars'});

    gsap.from(text.chars, {
        scrollTrigger: {
            trigger: header,
            start: 'top 80%',
            scrub: false,
            markers: false
        },
        y: 30,
        opacity: 0,
        stagger: 0.05
    })
    const timelines = document.querySelectorAll('.timeline-card');

    timelines.forEach((timeline) => {

        // Animation for date title

        const date = timeline.getElementsByTagName('span');
        const textD = new SplitType(date, { types:'chars'})

        gsap.to(textD.chars, {
            scrollTrigger: {
                trigger: date,
                start: 'top 60%',
                end: 'top 30%',
                scrub: true,
                markers: false
            },
            color: 'rgba(91, 51, 48, 0.8)'
        })

        // Animation for paragraph

        const p = timeline.getElementsByTagName('p');
        const textP = new SplitType(p , { types: 'words,chars' })

        gsap.from(textP.chars, {
            scrollTrigger: {
                trigger: p,
                start: 'top 100%',
                end: 'top 50%',
                scrub: true,
                markers: false
            },
            opacity: 0.5,
            stagger: 1
        })
    })
</script>

<style>
    .addStroke {
        color: #e9dac4;
        -webkit-text-stroke-color: #5b3330;
        -webkit-text-stroke-width: 1.5px;
    }
</style>