---
const ITEM = [
{
    date: "2015",
    text: "My coffee journey started when I got my first job as a shift supervisor at Cru Coffee Roasters & Cellars in 2015. It was at this place where I was introduced to specialty coffee and fell in love with how simple and complex a coffee bean can be at the same time.",
    image: "/images/serving-coffee.jpg",
    alt: "image"
},
{
    date: "2017",
    text: "I was already CEO of the company and I was able to share my knowledge with the new hires by making them elaborate a presentation of their beverages while maintaining a clean and professional area.",
    image: "/images/machine.jpg",
    alt: "image"
},

]
---

<article class="relative flex gap-12 items-center flex-col">
    <div class='flex items-center justify-between max-md:gap-4 max-md:flex-col w-full timeline-card'>
        <div class="md:w-1/2 text-center relative">
            <span class="font-semibold font-main md:translate-x-11 tracking-[3.8vw] addStroke inline-block max-md:text-[6rem] whitespace-nowrap dateText">2015</span>
            <p class="font-secondary max-md:text-base text-[#3e312b] max-2xl:text-lg text-xl leading-10 text-justify">My coffee journey started when I got my first job as a shift supervisor at Cru Coffee Roasters & Cellars in 2015. It was at this place where I was introduced to specialty coffee and fell in love with how simple and complex a coffee bean can be at the same time.</p>
        </div>
        <div class="md:w-5/12 w-full overflow-hidden rounded-3xl imageContainer skeleton">
            <img class="object-cover size-full" loading="lazy" src='/gallery/img-2.jpg' alt='andrea hernandez'>
        </div>
    </div>
    <div class='flex flex-row-reverse items-center justify-between max-md:gap-4 max-md:flex-col w-full timeline-card'>
        <div class="md:w-5/12 text-center relative">
            <span class="font-semibold font-main md:translate-x-11 tracking-[3.8vw] md:tracking-[3vw] lg:tracking-[5vw] max-md:text-[6rem] addStroke inline-block whitespace-nowrap dateText">2017</span>
            <p class="font-secondary max-md:text-base text-[#3e312b] max-2xl:text-lg text-xl leading-10 text-justify">My coffee journey started when I got my first job as a shift supervisor at Cru Coffee Roasters & Cellars in 2015. It was at this place where I was introduced to specialty coffee and fell in love with how simple and complex a coffee bean can be at the same time.</p>
        </div>
        <div class="md:w-[53%] w-full overflow-hidden rounded-3xl lg:-translate-y-20 imageContainer skeleton">
            <img class="object-cover size-full" loading="lazy" src='/gallery/img-3.jpg' alt='andrea hernandez'>
        </div>
    </div>
    <div class='flex items-center justify-between max-md:gap-4 max-md:flex-col w-full timeline-card lg:-translate-y-[10rem]'>
        <div class="md:w-1/2 text-center relative">
            <span class="font-semibold font-main md:translate-x-11 tracking-[3.8vw] addStroke inline-block max-md:text-[6rem] whitespace-nowrap dateText">2018</span>
            <p class="font-secondary max-md:text-base text-[#3e312b] max-2xl:text-lg text-xl leading-10 text-justify">I joined the team of Delisse as the head barista. Working along with Chef Aron Sanchez, I was able to train my palate by tasting different ingredients and understanding the similarity between coffee and food. I remember the smell of butter every single morning while the Croissants were being baked every single morning.</p>
        </div>
        <div class="md:w-5/12 w-full overflow-hidden rounded-3xl imageContainer skeleton">
            <img class="object-cover size-full" loading="lazy" src='/images/machine-2.jpg' alt='andrea hernandez'>
        </div>
    </div>
</article>

<script>
    import { gsap } from "gsap";

    const timelines = document.querySelectorAll('.timeline-card');

    timelines.forEach((timeline) => {

        // Animation for date title

        const date = timeline.querySelector('.dateText');

        gsap.to(date, {
            scrollTrigger: {
                trigger: date,
                start: 'top 60%',
                end: 'top 30%',
                scrub: true,
                markers: false
            },
            color: 'rgba(91, 51, 48, 0.8)'
        })

        // Animation for paragraph

        const p = timeline.getElementsByTagName('p');

        gsap.from(p, {
            scrollTrigger: {
                trigger: p,
                start: 'top 100%',
                end: 'top 50%',
                scrub: true,
                markers: false
            },
            opacity: 0.2
        })
    })
</script>

<style>
    .imageContainer {
        height: clamp(300px, 42vw, 760px);
    }

    .dateText {
        @media(min-width: 768px) {
            font-size: clamp(5rem, 8.2vw, 9rem);
        }
    }
    .addStroke {
        color: #e9dac4;
        -webkit-text-stroke-color: #5b3330;
        -webkit-text-stroke-width: 1.5px;
    }
</style>