---
import Header from '../components/Header.astro';

interface Props {
	title: string
	description?: string
	image?: string,
	bg?: string
}

const {
	title,
	description = 'description',
	image = '/images/tres4tos',
	bg = 'bg-sunset-gold'
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
	<meta charset="UTF-8">
	<meta name="description" content={description}>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:image" content={image}>
	<title>{title}</title>
	<!-- font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>
<body class=`min-h-screen ${bg}`>
	<Header />
	<slot />
	<script>
		import Lenis from '@studio-freight/lenis'
		const lenis = new Lenis()

		function raf(time: number) {
		lenis.raf(time)
		requestAnimationFrame(raf)
		}

		requestAnimationFrame(raf)
	</script>
</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}
	/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgba(91, 51, 48, 0.85) #e9dac4;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #e9dac4;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(91, 51, 48, 0.85);
    border-radius: 12px;
  }

  /* ===== Lenis Smooth Scrollbar ===== */

    html.lenis {
	height: auto;
	}

	.lenis.lenis-smooth {
	scroll-behavior: auto !important;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
	}

	.lenis.lenis-stopped {
	overflow: hidden;
	}

	.lenis.lenis-scrolling iframe {
	pointer-events: none;
	}
</style>